* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grid-size: 41;
}

.map {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 300px);
    grid-template-rows: repeat(var(--grid-size), 300px);
    border: 1px solid #ccc;
    background-color: #333;
}

.tile {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

    &:nth-child(odd) {
        background-color: #ffffff;
    }

    &:nth-child(even) {
        background-color: #f8f8f8;
    }
}

.drawn-tile {
    position: fixed;
    left: 30px;
    top: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
}

.drawn-tile__img {
    display: block;
    width: 200px;
    height: 200px;
}